{% extends 'AppCoder/index.html' %}

{% block head_block %}
<title>About me</title>
{% endblock head_block %}

{% block body_block %}
    <h4 style = color:rgb(19,19,65)> Este proyecto ha sido realizado por mí, Francisco Martín Carranza. Soy Ingeniero Electrónico recibido en la UTN de Córdoba, especializado en Networking y con intenciones de profundizar mis conocimientos en programación. </h3>
    <h4 style = color:rgb(12,110,45)> La idea del proyecto consiste en poder visualizar distintos tipos de deportistas, con posibilidad de editar, borrar o crear nuevos (claro, siempre y cuando el usuario esté logueado). Para ello, deberán cumplirse ciertos requisitos. </h3>
    <h4 style = color:rgb(194,72,50)> Entre otras cosas, también existe la posiblidad de modificar el e-mail o credenciales del usuario logueado, de nuevo, cumpliendo algunos requisitos necesarios. Además, podrá cargar y editar su propio ávatar.  </h3>
    <h4 style = color:rgb(134,136,25)> Todo esto se logró gracias a la utilización de un entorno virtual como "venv" y sus validators, Python puro, BD SQLite, clases de Django, etc.  </h3>
    <h4 style = color:rgb(9,114,146)> En caso de consultas, pueden contactarme por Slack. Espero que les guste!  </h3>

{% endblock body_block %}
