{% extends 'AppCoder/index.html' %}

{% block head_block %}
<title>Borrar Futbolista</title>
<a href= {% url 'Futbolistas' %}>Ir al listado de Futbolistas</a>
{% endblock head_block %}

{% block body_block %}

    <form method = "POST">
        {% csrf_token %} 
        <h3 style = color:crimson>
            ¿Estás seguro de que deseas borrar el futbolista "{{object.apellido}} {{object.nombre}}"?
        </h3>
        </p>
        <input type = "submit" value="Borrar"/>
    </form>
    
{% endblock body_block %}